@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

:root {
    --footer-height: 85px;
    --footer-bottom: 10px;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main {
    display: grid;
    place-items: center;
    row-gap: 40px;
    margin-bottom: calc(var(--footer-bottom) + var(--footer-height));
}

@media screen and (min-width: 960px) {
    .main {
        display: block;
        row-gap: 0;
        margin-bottom: 0;
    }
}

.header {
    padding: 20px 50px;
    position: relative;
    z-index: 19;
}

/**
 * Image Frog
 */

.imgfrog {
    display: flex;
    padding: 20px 40px 0;
}

.imgfrog img {
    --size: 140px;

    display: block;
    height: var(--size);
    width: var(--size);
    z-index: 3;
}

@media screen and (min-width: 960px) {
    .imgfrog {
        display: none;
    }
}

/**
 * Login Body
 */

.login_body {
    position: relative;
    box-sizing: border-box;
    display: grid;
    height: 550px;
    max-height: 550px;
    width: 100%;
    max-width: 450px;
    padding: 60px 30px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.login_body > .login_box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.login_body > .login_box > form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.login_body input {
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.login_body input:hover {
    background-color: #444;
}

.login_body button.submit {
    font-size: 16px;
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #00d448;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

.login_body button.submit:hover {
    background-color: #00882d;
    cursor: pointer;
}

.login_body button.submitaccount {
    font-size: 16px;
    height: 50px;
    width: 100%;
    color: #000;
    background-color: #f1f1f1;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

.login_body button.submitaccount:hover {
    background-color: #9b9b9b;
    cursor: pointer;
}

@media screen and (min-width: 450px) {
    .login_body {
        padding: 60px;
    }
}

@media screen and (min-width: 960px) {
    .login_body {
        width: 450px;
        margin-top: 140px;
        margin-left: 5%;
        z-index: 0;
    }
}

/**
 * Other Elements
 */

.support {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.butentre {
    text-decoration: none;
    color: #fff;
}

.butentre::before {
    text-decoration: none;
}

.butentre::after {
    text-decoration: none;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.remember span {
    margin-right: 5px;
    height: 25px;
    color: white;
}

/**
 * Footer
 */

.footer {
    width: 100%;
    height: var(--footer-height);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    bottom: var(--footer-bottom);
    z-index: 1;
}

.footer p {
    margin-left: 50px;
    margin-top: 20px;
    line-height: normal;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: white;
}

.footer a {
    color: #00d448;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration-line: underline;
    font-weight: bold;
}

.footer h3 {
    margin-left: 50px;
    margin-top: -10px;
    line-height: normal;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    font-weight: normal;
    color: white;
}

@media screen and (min-width: 960px) {
    .footer {
        --footer-height: 70px;
        z-index: 0;
    }

    .footer p {
        font-style: none;
        font-weight: bold;
    }

    .footer h3 {
        font-weight: bold;
    }
}

#sup {
    font-family: "Inter", sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 04px;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration: none;
}

.espace {
    height: 18.5vh;
}

.name {
    text-align: center;
    margin-top: -475px;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 10px;
}

#nome {
    margin-left: 20%;
    font-family: "Krona One", sans-serif;
    color: #00d448;
    font-size: 150px;
}

@media screen and (min-width: 900px) and (max-width: 1600px) {
    #nome {
        margin-left: 50%;
        font-size: 120px;
    }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
    #nome {
        display: none;
    }

    .name {
        display: none;
    }

    #a2 {
        font-size: 15px;
        font-style: none;
        font-weight: normal;
    }

    .espace {
        height: 1vh;
    }

    .remember span {
        font-size: 18px;
    }
}