* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgba(30, 30, 30, 1);

}

.navi {
    width: 100%;
    height: 60px;
    margin-bottom: 100px;
    background-color: #000000;
    position: fixed;
    top: 0;
    box-shadow: 0px 3.66337px 3.66337px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;

}

ul li a {
    margin-top: 05px;
}

.logo11 {
    width: 10px;
    height: 10px;
    margin-top: 05px;
    margin-left: 15px;
}

.logo1 img {
    width: 20px;
    height: 20px;
    margin-bottom: 100px;

}

.logo1 {
    width: 50px;
    height: 50px;

}

.pesquisar img {
    width: 20px;
    height: 20px;
}

#SlideShowww{
    width: 96%;
    height: 640px;
    margin-left: 2%;
    margin-top: 80px;
    position: inherit;
    border-radius: 10px;
    object-fit:cover;
}


#slides__showwww{
    height: 800px;
    width: 100%;
   
}



.slides input {
    display: none;
}

.item {
    text-decoration: none;
    color: white;
}

ul {
    float: top;
}

nav ul li {
    font-style: none;
    display: inline-flex;
    margin-left: 100px;
    margin-right: -70px;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pesquisar {
    position: fixed;
    display: inline-flex;
    flex-shrink: 0;
    color: white;
    text-decoration: none;
    margin-top: -20px;
    right: 60px;
}

.pesquisar input {
    background-color: #252222;
    width: 130px;
    height: 22px;
    border-radius: 5px;
    box-shadow: none;
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
    margin-left: 10px;
}

.pesquisar img {
    margin-top: 02px;
}

.fotoperfil img {
    display: inline-flex;
    position: fixed;
    right: 20px;
    top: 25px;
    margin-top: -09px;
    width: 27px;
}

.pesquisar h4 {
    color: #7C7A7A;
    margin-left: 05px;
    margin-top: 02px;
    font-family: 'Kumbh Sans', sans-serif;

}

#titulo1 {
    color: white;
    font-family: NATS;
    text-decoration: none;
    text-align: center;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

}


.linhaverde {
    background-color: #00D448;
    width: 100%;
    height: 2px;
}

.container1 {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.caroselslide1 {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.caroselslide2 {
    height: 300px;
    width: 98%;
    overflow: hidden;
}

.carosel2 {
    height: 320px;
    width: 97%;
    overflow: hidden;
    background-color: #303030;
    align-items: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* posicionamento do carrosel*/
.card {
    width: 220px;
    height: 300px;


}

.card1 {
    width: 220px;
    height: 360px;
    border: 2px solid;

}

.card1 img {
    border-radius: 10%;
}

.card img {
    border-radius: 10%;
}

.slides {
    display: flex;
    width: 270%;
    height: 100%;
}

.s1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: transition 20s;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* CSS da seção de animes */

.animes {
    box-sizing: border-box;
    padding: 20px 36px 50px;
    
}
.series{
    box-sizing: border-box;
    padding: 20px 36px;
}
.films{
    box-sizing: border-box;
    padding: 20px 36px;
}


.animes__title {
    margin: 0;
    line-height: normal;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    color: white;
}
.animes__title {
    margin: 0;
    line-height: normal;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    color: white;
}

.series__title{
    
    margin: 0;
    line-height: normal;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    color: white;
}

.films__title{
    margin: 0;
    line-height: normal;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    color: white;
}
.animes__carousel {
    box-sizing: border-box;
    overflow: hidden;
    height: 320px;
    width: 100%;
    border-radius: 15px;
    background-color: #303030;
    padding: 10px;
}
.series__carousel{
    box-sizing: border-box;
    overflow: hidden;
    height: 320px;
    width: 100%;
    border-radius: 15px;
    background-color: #303030;
    padding: 10px;
}
.films__carousel{
    box-sizing: border-box;
    overflow: hidden;
    height: 320px;
    width: 100%;
    border-radius: 15px;
    background-color: #303030;
    padding: 10px;
}
.videos__destaques{
    box-sizing: border-box;
    overflow: hidden;
    height: 400px;
    width: 100%;
    background-color: #000;
    padding: 18px;

}
.animes__carousel .carousel {
    border-radius: 12px;
}
.series__carousel .carousel{
    border-radius: 12px;
}
.films__carousel .carousel{
    border-radius: 12px;
}

/* CSS do carrossel */

.carousel {
    position: relative; /* Por causa dos botões absolutos */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel__next,
.carousel__previous {
  position: absolute;
  top: 50%;
  appearance: none;
  overflow: hidden;
  background-color: #303030;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0 none transparent;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  will-change: transform;
  z-index: 1;
  font-family: monospace;
  font-weight: 900;
  font-size: 2rem;
  color: #00D448;
  cursor: pointer;
}

.carousel__next:active {
  transform: translateX(10px) translateY(-50%);
}

.carousel__previous:active {
  transform: translateX(-10px) translateY(-50%);
}

.carousel__next {
  right: 0;
  border-radius: 50% 0 0 50%;
}

.carousel__previous {
  left: 0;
  border-radius: 0 50% 50% 0;
}

.carousel__slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: fit-content;
    transition: transform 0.2s ease-in;
    will-change: transform;
}
.carousel__slides1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: fit-content;
    transition: transform 0.2s ease-in;
    will-change: transform;

}

/* CSS do card */

.card {}

.card__link,
.card__image {
    display: block;
    width: 100%;
    height: 100%;
}

.card__image {
    object-fit: cover;
    object-position: center;
}

footer {
    margin-bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    display: inline-flex;
    background-color: #000000;
    flex-direction: column;
}

footer p {
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-left: 08px;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

footer p a {
    color: #00D448;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration-line: underline;



}

footer h4 a {
    color: white;
    text-decoration: none;
}

footer h3 {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: -40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

}

#sup {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 08px;
    font-size: 12px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration: none;
}


@media screen and (min-width:0px) and (max-width:900px) {
    .pesquisar input {
        display: none;
    }

    .item {
        margin-left: -20px;
    }

    /* #slide1:checked ~ .s1{
        margin-left:calc(220px * 11);
    }
    #slide2:checked ~ .s1{
        margin-left:-33.3%;
    }
    #slide3:checked ~ .s1{
        margin-left:-65.9%;
    } */

    .card1,
    .card {
        transition: margin-right 0.3s ease;
    }

    .card1+.card1,
    .card+.card {
        margin-left: -40px;
        box-shadow: -10px 0px 14px #000000;
        border-radius: 40px;
        overflow: hidden;


    }

    .card1:hover,
    .card1:focus,
    .card:hover,
    .card:focus {
        z-index: 1;
        margin-right: 40px;

    }
    #SlideShowww{
        height: 350px;
    }
}


    
